# Coffee Shop Sales Regression

1. Carga y previsualización del dataset (`.xlsx`).
2. Limpieza y extracción de features (fecha/hora → variables numéricas).
3. Cálculo de ventas por transacción y agrupación horaria por tienda.
4. Creación y entrenamiento de un modelo LinearRegression.
5. Predicción y comparación con ventas reales.
6. Gráficos en Matplotlib que comparan real vs. predicho.
7. Guardado de resultados finales.

---

Cargamos y previsualizamos el dataset

- Cree una variable por si necesito cambiar el dataset o si cambio de nombre al dataset.
- Con read leemos el dataset que tiene formato excel
- Se muestra tambien las primeras filas, dimensiones y nombres de las columnas

In [ ]:
import pandas as pd

file_path = 'Coffee-Shop-Sales.xlsx'

df = pd.read_excel(file_path)

print('\nShape:', df.shape)
print('Columns:', df.columns.tolist())
df.head()

Shape: (149116, 11)
Columns: ['transaction_id', 'transaction_date', 'transaction_time', 'transaction_qty', 'store_id', 'store_location', 'product_id', 'unit_price', 'product_category', 'product_type', 'product_detail']

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

## Analizamos las columnas

In [12]:
df.info()

df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  datetime64[ns]
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 12.5+ MB

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
dtype: int64

---

### Extracción de Características Temporales a partir de Fechas y Horas de Transacción

Se encarga de convertir las fechas y horas de transacción en un formato datetime y extraer características temporales relevantes. 

1. **Conversión a Formato Datetime**: Se crea una nueva columna `datetime` combinando las columnas `transaction_date` y `transaction_time`. Se utiliza `pd.to_datetime` para convertir esta combinación en un objeto datetime, especificando el formato correspondiente.

2. **Extracción de Características Temporales**:
   - **Día de la Semana**: Se añade una columna `day_of_week` que representa el día de la semana (0 para lunes y 6 para domingo) utilizando el método `.dt.weekday`.
   - **Hora**: Se añade una columna `hour` que extrae la hora (0-23) del objeto datetime.
   - **Mes**: Se añade una columna `month` que extrae el mes (1-12) del objeto datetime.

3. **Visualización de Resultados**: Se imprime la lista de columnas del DataFrame después de la extracción de características y se muestran las primeras filas del DataFrame con las columnas relevantes.

In [15]:
df['datetime'] = pd.to_datetime(
    df['transaction_date'].astype(str) + ' ' + df['transaction_time'].astype(str)
)

df['day_of_week'] = df['datetime'].dt.weekday
df['hour'] = df['datetime'].dt.hour
df['month'] = df['datetime'].dt.month

print('Columnas después de la extracción de características de fecha y hora', df.columns.tolist())
df[['transaction_date', 'transaction_time', 'datetime', 'day_of_week', 'hour', 'month']].head()

Columnas después de la extracción de características de fecha y hora ['transaction_id', 'transaction_date', 'transaction_time', 'transaction_qty', 'store_id', 'store_location', 'product_id', 'unit_price', 'product_category', 'product_type', 'product_detail', 'sales', 'datetime', 'day_of_week', 'hour', 'month']

,transaction_date,transaction_time,datetime,day_of_week,hour,month
0,2023-01-01,07:06:11,2023-01-01 07:06:11,6,7,1
1,2023-01-01,07:08:56,2023-01-01 07:08:56,6,7,1
2,2023-01-01,07:14:04,2023-01-01 07:14:04,6,7,1
3,2023-01-01,07:20:24,2023-01-01 07:20:24,6,7,1
4,2023-01-01,07:22:41,2023-01-01 07:22:41,6,7,1